{% if PYBB_ATTACHMENT_ENABLE %}
    {% load i18n %}
        <a class='attachment-link' onclick='$("ul.attachments-form").toggle();return false;' href='#'>{% trans "Add attachments" %}</a>
        {{ aformset.management_form }}
            <ul class="attachment-form">
            {% for form in aformset %}
                <li>
                    {{ form.id }}
                    {{ form.file }}
                    {% if form.instance.pk %}{{ form.DELETE }} {% trans "delete" %}{% endif %}
                </li>
            {% endfor %}
            </table>
{% endif %}