{% extends 'pybb/base.html' %}
{% load i18n thumbnail pybb_tags %}

{% block title %}{% trans "Profile editing" %}{% endblock title %}

{% block content %}
    <header>
        <h1>{% trans "Profile editing" %}</h1>
    </header>
    {% thumbnail form.instance.avatar "80x80" as avatar %}
        <img src="{{ avatar.url }}" alt="avatar" id="avatar">
    {% empty %}
        <img src="{{ PYBB_DEFAULT_AVATAR_URL }}" alt="avatar" id="avatar">
    {% endthumbnail %}
    <a href="{% url auth_password_change %}">{% trans "Change the password" %}</a>
    <form method="post" enctype="multipart/form-data" class="profile-edit">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Profile editing" %}</legend>
            <ul>
                {{ form.as_li }}
                <li>{% include "pybb/_button_save.html" %}</li>
            </ul>
        </fieldset>
    </form>
    <h1>{% trans "Subscriptions on topics" %}</h1>
    <ul>
        {% for sub in user.subscriptions.all %}
            <li>
                {% pybb_link sub %}
                &mdash;
                <strong>
                    <a href="{% url pybb:delete_subscription sub.id %}">{% trans "delete" %}</a>
                </strong>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
