{% load i18n pybb_tags %}

<h2>{% trans 'Poll' %}</h2>
<p>{{ topic.poll_question }}</p>

{% if request.user.is_authenticated and topic|pybb_topic_poll_not_voted:request.user %}
  <form class="poll-form" action="{% url pybb:topic_poll_vote topic.pk %}" method="post">
  {% csrf_token %}
  {# % for answer in poll_form.answers %}{{ answer }}{% endfor % #}
  {{ poll_form.answers }}
  {% include "pybb/_button_submit.html" %}
  </form>
{% else %}
  <dl class="poll-answer">
  {% for answer in topic.poll_answers.all %}
      <dt>{{ answer }}</dt>
      <dd>{{ answer.votes }} ({{ answer.votes_percent }} %)</dd>
  {% endfor %}
  </dl>
{% endif %}