{% extends 'pybb/base.html' %}
{% load pybb_tags i18n thumbnail %}

{% block title %}{{ target_user.username }}{% endblock %}

{% block content %}
    <h1>{{ target_user.username }}</h1>
        {% thumbnail target_user.get_profile.avatar "80x80" as avatar %}
            <img src="{{ avatar.url }}" alt="avatar" id="{{ target_user.username }}-avatar">
        {% empty %}
            <img src="{{ PYBB_DEFAULT_AVATAR_URL }}" alt="avatar" id="{{ target_user.username }}-avatar">
        {% endthumbnail %}
            <h2>{% trans "Statistics" %}</h2>
            <dl class="statistics">
                
            <dt>{% trans "Number of posts" %}</dt><dd>{{ target_user.posts.all.count }}.
            </dd>
            <dt>{% trans "Number of topics" %}</dt><dd>{{ topic_count }}.
                {# <a href="{% url pybb:user_topics profile.username %}">{% trans "Find all topics" %}</a> #}
            </dd>
            <dt>{% trans "Date of registration" %}</dt><dd>{% pybb_time target_user.date_joined %}</dd>
            </dl>
    <aside class='controls'>
        {% if perms.pybb.block_users %}
            <a href='{% url pybb:block_user target_user.username %}'>{% trans 'Block' %}</a>
        {% endif %}
        {% if perms.pybb.can_edit %}
            <a href='{% url admin:pybb_profile_change target_user.pybb_profile.id %}'>{% trans 'Edit' %}</a>
        {% endif %}
    </aside>

{% endblock %}
